<%= simple_form_for Task.new do |form| %>
  <%= form.input :name, label: false %>
  <%= form.input :tag_list, label: false %>
  <%= form.submit %>
<% end %>

<ol class='tasks'>
  <%= render @tasks %>
</ol>

<ol class='tags'>
  <% @tags.each do |tag| %>
    <li class='tag'>
      <%= link_to tag.name, tag_path(tag) %>
    </li>
  <% end %>
  <% if current_user.tasks_without_tags.any? %>
    <li class='tag'><%= link_to 'none', none_tag_path %></li>
  <% end %>
</ol>
