<%= simple_form_for Task.new do |form| %>
  <%= form.input :name, label: false %>
  <%= form.input :tag_list, label: false %>
  <%= form.submit %>
<% end %>

<ol class='tasks'>
  <% @tasks.each do |task| %>
    <li class='task'>
      <%= task.name %>

      <ul class='tags'>
        <% task.tags.each do |tag| %>
          <li class='tag'><%= tag.name %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>

<ol class='tags'>
  <% @tags.each do |tag| %>
    <li class='tag'>
      <%= tag.name %>
    </li>
  <% end %>
</ol>
